<p>some text from main app component 333adsad1</p>
<img src="../media/exampleSvg.svg" alt="">
<ul>
    <li ui-sref="app.dashboard">dashboard</li>
    <li ui-sref="app.test">test</li>
    <li ui-sref="app.test.viewOne">viewOne</li>
    <li ui-sref="app.test.viewTwo">viewTwo</li>
</ul>

<div ui-view="content">
    loading from uiview content
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">3</div>
    </div>
</div>

<div class="btn-group">
    <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
    <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
    <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
</div>